.hero {

    &.has-bg-color {
		position: relative;
		background-color: transparent;
        z-index: auto;
        
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
            background: get-color(dark, 1);
			z-index: -3;
		}        
    }
}

.hero-inner {
    padding-bottom: 168px;
}